<mat-form-field class="filter-anime" appearance="fill">
  <input matInput type="text"
  [(ngModel)]="filterAnimeValue"
  (input)="filterAnime(filterAnimeValue)"
  placeholder="Filter anime"/>
</mat-form-field>
<main class="main">
  <div class="sidebar">
    <mat-form-field>
      <mat-select
        (selectionChange)="filterType($event)"
        placeholder="Anime types"
        multiple>
        <mat-option
          *ngFor="let type of animeTypes"
          [value]="type">
          {{ type }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <table
    matSort (matSortChange)="sortAnimeList($event)"
    mat-table
    [dataSource]="animeList$"
    class="table mat-elevation-z8"
    aria-label="Anime Table"
    [trackBy]="trackByAnimeId"
  >
    <ng-container matColumnDef="imageSrc">
      <th mat-header-cell *matHeaderCellDef>Image</th>
      <td mat-cell *matCellDef="let anime">
        <img class="anime-image" [src]="anime.imageSrc" alt="anime poster" />
      </td>
    </ng-container>

    <ng-container matColumnDef="titleEnglish">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="title_eng">Title English</th>
      <td mat-cell *matCellDef="let anime">{{ anime.titleEnglish }}</td>
    </ng-container>

    <ng-container matColumnDef="titleJapanese">
      <th mat-header-cell *matHeaderCellDef>Title Japanese</th>
      <td mat-cell *matCellDef="let anime">{{ anime.titleJapanese }}</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="status">Status</th>
      <td mat-cell *matCellDef="let anime">{{ anime.status }}</td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>Type</th>
      <td mat-cell *matCellDef="let anime">{{ anime.type }}</td>
    </ng-container>

    <ng-container matColumnDef="airedStart">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="aired">Aired Start</th>
      <td mat-cell *matCellDef="let anime">
        {{ anime.airedStart | date: "YYYY.MM.dd" }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</main>
<mat-paginator
  [length]="animeCount"
  [pageIndex]="pageIndex"
  [pageSize]="pageSize"
  [pageSizeOptions]="[5, 10, 15, 20]"
  (page)="onPaginateChange($event)"
  aria-label="Anime table paginator"
  showFirstLastButtons
>
</mat-paginator>
