@import url("../global/index.css");

header {
  height: 100px;
  background-color: #966BD6;
}

table {
  border: 1px solid black;
  border-spacing: 0;
  margin: 0 auto;
}

.image img{
  width: 100%;
}

td, th {
  text-align: center;
  border: 1px solid black;
  width: 200px;
}

footer {
  height: 100px;
  background-color: #300571;
  margin: 50px 0 0 0;
}

.pagination {
  text-align: center;
}
.page-number {
  text-align: center;
}

.pagination button {
  margin: 20px 0;
  padding: 10px;
}

.pagination .active {
  margin: 20px 0;
  padding: 10px;
  background-color: #4F10AD;
  color: #FFFFFF;
}

select {
  padding: 20px;
  margin: 50px;
  font-size: 20px;
}
