@import url("../global/index.css");

header {
  height: 100px;
  background-color: rgb(134, 190, 240);
}

table {
  border: 1px solid black;
  border-spacing: 0;
  margin: 0 auto;
}

.image img{
  width: 100%;
}
td {
  text-align: center;
  border: 1px solid black;
}

td img {
  height: 200px;
}


footer {
  height: 100px;
  background-color: rgb(26, 59, 88);
  margin: 50px 0 0 0;
}

.pagination {
  text-align: center;
}

.pagination__page-number {
  width: 500px;
  border: 1px solid black;
  padding: 10px;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
}

.pagination__page-number span {
  margin: 0 20px;
}

.pagination__page-number button {
  padding: 10px 20px;
}
