@import url("../global/index.css");
@import url("../global/variables.css");

.header {
  min-height: 100px;
  background-color: var(--primary-color);
}

.table-anime {
  border: 1px solid var(--primary-dark-contrast-color);
  border-spacing: 0;
  margin: 0 auto;
}

.image-anime {
  width: 100%;
}

.table-anime__top-row,
.table-anime__cell {
  text-align: center;
  border: 1px solid var(--primary-dark-contrast-color);
  width: 200px;
}

.footer {
  min-height: 100px;
  background-color: var(--primary-color-dark-color);
  margin-top: 50px;
}

.pagination,
.page-number {
  text-align: center;
}

.pagination__button {
  margin: 20px 0;
  padding: 10px;
}

.pagination .active {
  margin: 20px 0;
  padding: 10px;
  background-color: var(--pagination-button-active-color);
  color: var(--primary-light-contrast-color);
}

.sort-anime-table {
  padding: 20px;
  margin: 50px;
}
