@import url("../global/index.css");
@import url("../global/variables.css");

.header {
  height: 100px;
  background-color: var( --heading-color-1);
}

.table-anime {
  border: 1px solid black;
  border-spacing: 0;
  margin: 0 auto;
}

.imageAnime img{
  width: 100%;
}

.table-anime td, th {
  text-align: center;
  border: 1px solid black;
  width: 200px;
}

.footer {
  min-height: 100px;
  background-color: var(--footer-color-1);
  margin-top: 50px;
}

.pagination,
.page-number {
  text-align: center;
}

.pagination button {
  margin: 20px 0;
  padding: 10px;
}

.pagination .active {
  margin: 20px 0;
  padding: 10px;
  background-color: var(--heading-color-3);
  color: #FFFFFF;
}

select {
  padding: 20px;
  margin: 50px;
  font-size: 20px;
}
