:root {
  /* General */
  --primary-color: #96c;
  --primary-contrast-color: #669;
  --primary-dark-color: #639;
  --primary-light-contrast-color: white;
  --primary-dark-contrast-color: black;
  --accent-light-color: #c9f;
  --font-size-xl: 1rem;

  /* Pagination */
  --pagination-button-active-color: #4f10ad;
}
