:root {
  /* General */
  --primary-color-1: #966bd6;
  --primary-color-2: #300571;
  --accent-light-color: #fff;
  --font-size-400: 1rem;

  /* Pagination */
  --pagination-button-active-color: #4f10ad;
}
