<div *ngIf="anime$ | async as anime" class="anime">
  <mat-card class="anime__flexbox">
    <div>
      <img
        class="anime__image"
        [alt]="anime.titleEnglish"
        [src]="anime.imageSrc"
      />
    </div>
    <div class="anime__content">
      <mat-card-header>
        <mat-card-title>{{ anime.titleEnglish }}</mat-card-title>
        <mat-card-subtitle>{{ anime.status }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>{{ anime.synopsis }}</p>
      </mat-card-content>
    </div>
  </mat-card>
</div>
